## Data Exploration - Data Minig Cup 2022

In [7]:
## Importing all  libraries:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data_wrangling import cleaning_category, appending_parent_category, removing_NAN_col
pd.set_option('display.max_columns', 100)

In [8]:
## Reading all data sets:

items = pd.read_csv('items.csv', sep = '|')
orders = pd.read_csv('orders.csv', sep = '|')
category = pd.read_csv('category_hierarchy.csv', sep = '|')
submission = pd.read_csv('submission.csv', sep = '|')

In [5]:
## Reading all data sets:

items = pd.read_csv('items.csv', sep = '|')
orders = pd.read_csv('orders.csv', sep = '|')
category = pd.read_csv('category_hierarchy.csv', sep = '|')
submission = pd.read_csv('submission.csv', sep = '|')

## Cleaning category
items = cleaning_category(items)

## Joining orders and items
orders_items = pd.merge(orders, items, how = 'left', on = ['itemID'])

## Putting variables in the right format
orders_items['date'] = pd.to_datetime(orders_items['date'], format = '%Y-%m-%d')

# ## Appending parent category
# orders_items = appending_parent_category(orders_items, category)
# orders_items.head()

In [6]:
orders_items.head()

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,category_1,category_2,category_3,category_4,category_5,category_6,category_7,category_8,category_9,category_10,category_11,category_12,category_13,category_14,category_15,category_16,category_17,category_18,category_19,category_20,category_21,category_22,category_23,category_24,category_25,category_26,category_27,category_28,category_29,category_30,category_31,category_32,category_33,category_34,category_35
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,74,4109,3867,803,4053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,3459,3738,679,1628,4072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,2973,2907,2749,3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,30,1515,1760,2932,1287,2615,3727,2450,990,1395,1498,2654,3663,3284,1060,3268,2950,1179,278,2167,1763,3935,3936,2925,2844,377,2104,3670,1482,3457,767,1793,4114,NaN,NaN
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,3104,1772,2029,1274,3915,888,1118,3882,4025,4026,4068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Identifying columns with only NAN
parent_names = ['parent_category_' + str(i) for i in range(1, 36)]
~(orders_items[parent_names].apply(np.sum, axis = 0) == 0)

In [ ]:
## Removing columns filled with only NAN
parent_category = parent_category.drop(columns = ['parent_category_' + str(i) for i in range(23, 36)], axis = 1)
parent_category.head()

In [ ]:
orders.head()

#### Items:

In [9]:
items.head()

,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories
0,22665,861,4,0,490,2,66,"[2890, 855, 3908, 3909]"
1,28640,1366,10,1,537,0,101,NaN
2,13526,1090,10,0,511,0,0,"[3270, 163, 284, 1694, 12, 3837, 2422, 3595, 3..."
3,21399,1090,10,1,511,0,0,[3270]
4,8504,768,4,1,484,0,66,[2470]

In [ ]:
## Visualizing item features:

## Creating a new figure
fig, axes = plt.subplots(3, 2, figsize = (16, 12))

## Subsetting the data
left = turnover_train[turnover_train['left'] == 1]
no_left = turnover_train[turnover_train['left'] == 0]

axes[0, 0].boxplot([no_left['last_evaluation'], left['last_evaluation']], labels = ['No-Left', 'Left'])
axes[0, 0].set_ylabel('last_evaluation')
axes[0, 0].grid()

axes[0, 1].boxplot([no_left['number_project'], left['number_project']], labels = ['No-Left', 'Left'])
axes[0, 1].set_ylabel('number_project')
axes[0, 1].grid()

axes[1, 0].boxplot([no_left['satisfaction_level'], left['satisfaction_level']], labels = ['No-Left', 'Left'])
axes[1, 0].set_ylabel('satisfaction_level')
axes[1, 0].grid()

axes[1, 1].boxplot([no_left['average_montly_hours'], left['average_montly_hours']], labels = ['No-Left', 'Left'])
axes[1, 1].set_ylabel('average_montly_hours')
axes[1, 1].grid()

axes[2, 0].boxplot([no_left['time_spend_company'], left['time_spend_company']], labels = ['No-Left', 'Left'])
axes[2, 0].set_ylabel('time_spend_company')
axes[2, 0].grid()

#### Orders:

In [10]:
orders.head()

         date  userID  itemID  order
0  2020-06-01   38769    3477      1
1  2020-06-01   42535   30474      1
2  2020-06-01   42535   15833      1
3  2020-06-01   42535   20131      1
4  2020-06-01   42535    4325      1

In [11]:
orders['date'] = pd.to_datetime(orders['date'], format = '%Y-%m-%d')

In [12]:
orders['order'].value_counts()

1      846264
2      143601
3       40444
4       17534
5       12579
6        4138
10       2438
8        1793
7         895
20        492
12        286
15        285
30        127
50         90
9          89
25         87
11         75
100        52
40         48
16         43
14         34
13         27
24         14
18         12
21         12
22         11
60          9
17          8
35          8
26          6
19          4
80          4
31          4
23          3
28          3
70          3
32          2
65          1
93          1
90          1
85          1
75          1
51          1
63          1
43          1
49          1
29          1
48          1
27          1
98          1
34          1
Name: order, dtype: int64

In [ ]:
category.head()

In [ ]:
submission.head()