In [12]:
import pandas as pd
import numpy as np

rf = pd.read_csv('rf_predictions.csv')
xgb = pd.read_csv('xgb_predictions.csv')
en = pd.read_csv('en_predictions.csv')

In [20]:
rf.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [17]:
rf.shape

(4277, 2)

In [13]:
print('Random Forest model transported predictions: \n', rf['Transported'].value_counts())

Random Forest model transported predictions:
 True     2362
False    1915
Name: Transported, dtype: int64

In [21]:
xgb.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01        False

In [18]:
xgb.shape

(4277, 2)

In [14]:
print('XGBoost model transported predictions: \n', xgb['Transported'].value_counts())

XGBoost model transported predictions:
 False    2385
True     1892
Name: Transported, dtype: int64

In [22]:
en.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [19]:
en.shape

(4277, 2)

In [16]:
print('Ensemble model transported predictions: \n', en['Transported'].value_counts())

Ensemble model transported predictions:
 True     2430
False    1847
Name: Transported, dtype: int64